{% extends "bot/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}
{% block content %}
  
  <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="cryptorio-forms cryptorio-forms-dark text-center pt-5 pb-5">
                    <div class="logo">
                        <img src="{% static 'bot/images/logo.png' %}" alt="logo-image">
                    </div>
                    <h3 class="p-4">{% trans "Change Email" %}</h3>
                    <div class="cryptorio-main-form">
                        <form method="POST" class="text-start">
                          <!-- {% csrf_token %}
                          <fieldset class="form-group">
                            {{form|crispy}}
                          </fieldset>   -->      
                          <h6>{% trans "Waiting for confirmation, Please check your email." %}</h6>
                          <input disabled="" type="submit" value="{% trans "SignUp" %}" class="crypt-button-red-full">
                        </form>
                        <p class="float-left"><a href="{% url 'login' %}" >{% trans "Log In" %}</a></p>
                       <!--  <p class="float-right"><a href="forgot.html">Recover Password</a></p> -->
                    </div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock content %}
