{% load i18n %}
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>WideBot - Cryptocurrency Trading Bot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'bot/img/favicon2.ico' %}">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{% static 'bot/cssb/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'bot/cssb/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bot/cssb/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'bot/cssb/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bot/cssb/style.css' %}">
    <link rel="stylesheet" href="{% static 'bot/cssb/skins/blue.css' %}">

    <!-- Template JS Files -->
    <script src="{% static 'bot/jsb/modernizr.js' %}"></script>

</head>

<body>
<!-- Wrapper Starts -->
<header class="header">
    <div class="container">
        <div class="row">
            <!-- Logo Starts -->
            <div class="main-logo col-xs-12 col-md-3 col-md-2 col-lg-2 hidden-xs">
                <a href="{% url 'intro-page' %} ">
                    <img class="img-responsive" src="{% static 'bot/imagesb/logo2.PNG' %}" alt="logo">
                </a>
            </div>
            <!-- Logo Ends -->
            <!-- Statistics Starts -->
            <div class="col-md-7 col-lg-7" style="margin-top: 26px; width: 460px; margin-left: 220px;">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'intro-page' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'aboutus-page' %}">{% trans "About Us" %}</a></li>
                    <li class="active"><a href="{% url 'contactus-page' %}">{% trans "Contact" %}</a></li>

                    <!-- Cart Icon Starts -->
                    <!-- Cart Icon Starts -->
                    <!-- Search Icon Starts -->
                    <!-- Search Icon Ends -->
                </ul>
            </div>
            <!-- Statistics Ends -->
            <!-- User Sign In/Sign Up Starts -->
            <div class="col-md-3 col-lg-3">
                <ul class="unstyled user">
                    <li class="sign-in"><a href="{% url 'login' %}" class="btn btn-primary"><i
                            class="fa fa-user"></i>{% trans "sign in" %}</a></li>
                    {% if not user.is_authenticated %}
                        <li class="sign-up"><a href="{% url 'register-page' %}" class="btn btn-primary"><i
                                class="fa fa-user-plus"></i>{% trans "register" %}</a></li>
                    {% endif %}
                </ul>
            </div>
            <!-- User Sign In/Sign Up Ends -->
        </div>
    </div>
    <!-- Navigation Menu Starts -->

    <!-- Navigation Menu Ends -->
</header>
<!-- Header Ends -->
<!-- Slider Starts -->
<section class="banner-area">
    <div class="banner-overlay">
        <div class="banner-text text-center">
            <div class="container">
                <!-- Section Title Starts -->
                <div class="row text-center">
                    <div class="col-xs-12">
                        <!-- Title Starts -->
                        <h2 class="title-head">Get in <span>touch</span></h2>
                        <!-- Title Ends -->
                        <hr>
                        <!-- Breadcrumb Starts -->
                        <ul class="breadcrumb">
                            <li><a href="{% url 'intro-page' %}">{% trans "Home" %}</a></li>
                            <li>{% trans "contact" %}</li>
                        </ul>
                        <!-- Breadcrumb Ends -->
                    </div>
                </div>
                <!-- Section Title Ends -->
            </div>
        </div>
    </div>
</section>
<!-- Banner Area Ends -->
<!-- Contact Section Starts -->
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 contact-form" style="margin-left: 17%">
                <h3 class="col-xs-12">{% trans "feel free to drop us a message" %}</h3>
                <p class="col-xs-12">{% blocktrans %}Need to speak to us? Do you have any queries or suggestions? Please
                    contact us about all enquiries including membership and volunteer work using the form
                    below.{% endblocktrans %}</p>
                <!-- Contact Form Starts -->
                <div class="form-group col-xs-12 col-sm-4 text-center" style="width: 50%">
                    <button class="btn btn-primary btn-contact" type="button"
                            disabled>{% trans "message sent" %}</button>
                </div>
                <!-- Contact Form Ends -->
            </div>
            <!-- Contact Widget Starts -->
            <!-- Contact Widget Ends -->
        </div>
    </div>
</section>
<!-- Contact Section Ends -->
<!-- Call To Action Section Starts -->
<section class="call-action-all">
    <div class="call-action-all-overlay">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Call To Action Text Starts -->
                    <div class="action-text">
                        <h2>{% trans "Get Started Today With Bitcoin" %}</h2>
                        <p class="lead">{% trans "Open account for free and start trading Bitcoins" %}!</p>
                    </div>
                    <!-- Call To Action Text Ends -->
                    <!-- Call To Action Button Starts -->
                    <p class="action-btn">
                        <a class="btn btn-primary" href="{% url 'register-page' %}">{% trans "Register Now" %}</a>
                    </p>
                    <!-- Call To Action Button Ends -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call To Action Section Ends -->
<!-- Footer Starts -->
<footer class="footer">
    <!-- Footer Top Area Starts -->
    <!-- Footer Top Area Ends -->
    <!-- Footer Bottom Area Starts -->
    <div class="bottom-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Copyright Text Starts -->
                    <p class="text-center">Copyright © 2021 WideBot </p>
                    <!-- Copyright Text Ends -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area Ends -->
</footer>
<!-- Footer Ends -->
<!-- Back To Top Starts  -->
<a href="#" id="back-to-top" class="back-to-top fa fa-arrow-up"></a>
<!-- Back To Top Ends  -->

<!-- Template JS Files -->
<script src="{% static 'bot/jsb/jquery-2.2.4.min.js' %}"></script>
<script src="{% static 'bot/jsb/bootstrap.min.js' %}"></script>
<script src="{% static 'bot/jsb/select2.min.js' %}"></script>
<script src="{% static 'bot/jsb/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'bot/jsb/custom.js' %}"></script>

</div>
<!-- Wrapper Ends -->
</body>

</html>